<nb-card>
  <nb-card-header>
    Filtro
  </nb-card-header>
  <nb-card-body>
    <div class="form-inline">
      <input type="text" #filtroTitulo nbInput fullWidth placeholder="Titulo"  >
      <button type="submit" (click)="obterDadosGrid()" nbButton status="primary">Filtrar</button>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    Lista de Cursos
  </nb-card-header>
  <nb-card-body>
    <app-grid-view [colunas]="colunas" [acoes]="acoes" [dadosTabela]="dadosTabela"></app-grid-view>
  </nb-card-body>
</nb-card>


