
<app-curso-menu [titulo]="nomeCurso" [pages]="menu" ></app-curso-menu>

<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{nomeCurso}}
    </ion-title>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header> 


<ion-content>
  <ion-grid>
  <ion-row>
    <ion-col size-md="6">
      <ion-button expand="full">Anterior</ion-button>
    </ion-col>
    <ion-col size-md="6">
      <ion-button expand="full" color="success"  >Próximo</ion-button>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col size-md="12">
      <video preload="auto"  controls width="100%" height="450px" oncontextmenu="return false;" controlsList="nodownload">
        <source src="https://onedrive.live.com/download?cid=204CB7B8B10A0D51&resid=204CB7B8B10A0D51%2117600&authkey=AI3hNJgRgdfdoSk" type='video/mp4'/>
     </video>
    </ion-col>
  </ion-row>

</ion-grid>

</ion-content> 
